div.c_text_trans {
	border-style:solid;
}
div.linea_decoracion_linea_autor {
	border-color:#057d9e;
	border-width:3px;
	border-style:dotted;
	border-radius:12px 12px 12px 12px;
}
div.linea_decoracion_linea_degradado {
	border-style:solid;
	border-radius:12px 12px 12px 12px;
}
div.linea_decoracion_linea_image {
	border-color:#057d9e;
	border-width:4px;
	border-style:dotted;
	border-radius:12px 12px 12px 12px;
}
div.linea_image {
	border-color:#057d9e;
	border-width:4px;
	border-style:dotted;
	border-radius:12px 12px 12px 12px;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#057d9e;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#0a5769;
	font-family:Arial, sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#054052;
	font-family:Arial, sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#376674;
	font-family:Arial, sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#66616b;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#66616b;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#66616b;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:italic;
	font-weight:normal;
}
#_idContainer10606 {
	-webkit-transform:translate(458.794px,745.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(458.794px,745.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:232.21px;
}
#_idContainer10607, #_idContainer10617, #_idContainer10642, #_idContainer10681, #_idContainer10721, #_idContainer10805, #_idContainer10849, #_idContainer10893, #_idContainer10918, #_idContainer10943 {
	-webkit-transform:translate(58.000px,105.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:826.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.000px,105.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:662.00px;
}
#_idContainer10608, #_idContainer10618, #_idContainer10643, #_idContainer10682, #_idContainer10722, #_idContainer10806, #_idContainer10850, #_idContainer10894, #_idContainer10919, #_idContainer10944 {
	-webkit-transform:translate(647.225px,961.821px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(647.225px,961.821px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:43.77px;
}
#_idContainer10609, #_idContainer10619, #_idContainer10644, #_idContainer10683, #_idContainer10723, #_idContainer10807, #_idContainer10851, #_idContainer10895, #_idContainer10920, #_idContainer10945 {
	-webkit-transform:translate(703.000px,975.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:49.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(703.000px,975.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:5.00px;
}
#_idContainer10610, #_idContainer10620, #_idContainer10645, #_idContainer10684, #_idContainer10724, #_idContainer10808, #_idContainer10852, #_idContainer10896, #_idContainer10921, #_idContainer10946 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:769.00px;
}
#_idContainer10611 {
	-webkit-transform:translate(77.000px,138.226px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,138.226px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer10612 {
	-webkit-transform:translate(347.000px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(347.000px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:347.00px;
}
#_idContainer10613 {
	-webkit-transform:translate(424.000px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(424.000px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:71.29px;
}
#_idContainer10614 {
	-webkit-transform:translate(345.999px,174.165px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.999px,174.165px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:424.00px;
}
#_idContainer10615 {
	-webkit-transform:translate(698.417px,235.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:5.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(698.417px,235.748px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:94.50px;
}
#_idContainer10616 {
	-webkit-transform:translate(77.000px,281.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:657.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,281.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer10621 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5208.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:765.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer10622 {
	-webkit-transform:translate(594.250px,714.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,714.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10623, #_idContainer10689, #_idContainer10737, #_idContainer10811, #_idContainer10812, #_idContainer10813, #_idContainer10855, #_idContainer10856, #_idContainer10857, #_idContainer10899, #_idContainer10924 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10624 {
	-webkit-transform:translate(558.500px,405.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,405.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10625, #_idContainer10640, #_idContainer10694, #_idContainer10709, #_idContainer10710, #_idContainer10719, #_idContainer10740, #_idContainer10755, #_idContainer10816, #_idContainer10831, #_idContainer10832, #_idContainer10847, #_idContainer10860, #_idContainer10875, #_idContainer10876, #_idContainer10891, #_idContainer10901, #_idContainer10916, #_idContainer10926, #_idContainer10941 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:783.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer10626, #_idContainer10631, #_idContainer10662, #_idContainer10667, #_idContainer10695, #_idContainer10700, #_idContainer10712, #_idContainer10741, #_idContainer10746, #_idContainer10758, #_idContainer10763, #_idContainer10782, #_idContainer10787, #_idContainer10817, #_idContainer10822, #_idContainer10833, #_idContainer10838, #_idContainer10861, #_idContainer10866, #_idContainer10877, #_idContainer10882, #_idContainer10902, #_idContainer10907, #_idContainer10927, #_idContainer10932 {
	-webkit-transform:translate(369.216px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(369.216px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:369.22px;
}
#_idContainer10627, #_idContainer10632, #_idContainer10663, #_idContainer10668, #_idContainer10696, #_idContainer10701, #_idContainer10713, #_idContainer10742, #_idContainer10747, #_idContainer10759, #_idContainer10764, #_idContainer10783, #_idContainer10788, #_idContainer10818, #_idContainer10823, #_idContainer10834, #_idContainer10839, #_idContainer10862, #_idContainer10867, #_idContainer10878, #_idContainer10883, #_idContainer10903, #_idContainer10908, #_idContainer10928, #_idContainer10933 {
	-webkit-transform:translate(500.748px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(500.748px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:122.99px;
}
#_idContainer10628, #_idContainer10633, #_idContainer10664, #_idContainer10669, #_idContainer10697, #_idContainer10702, #_idContainer10714, #_idContainer10743, #_idContainer10748, #_idContainer10760, #_idContainer10765, #_idContainer10784, #_idContainer10789, #_idContainer10819, #_idContainer10824, #_idContainer10835, #_idContainer10840, #_idContainer10863, #_idContainer10868, #_idContainer10879, #_idContainer10884, #_idContainer10904, #_idContainer10909, #_idContainer10929, #_idContainer10934 {
	-webkit-transform:translate(0.000px,2.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:500.75px;
}
#_idContainer10629, #_idContainer10634, #_idContainer10665, #_idContainer10670, #_idContainer10698, #_idContainer10703, #_idContainer10715, #_idContainer10744, #_idContainer10749, #_idContainer10761, #_idContainer10766, #_idContainer10785, #_idContainer10790, #_idContainer10820, #_idContainer10825, #_idContainer10836, #_idContainer10841, #_idContainer10864, #_idContainer10869, #_idContainer10880, #_idContainer10885, #_idContainer10905, #_idContainer10910, #_idContainer10930, #_idContainer10935 {
	-webkit-transform:translate(497.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(497.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer10630, #_idContainer10699, #_idContainer10716, #_idContainer10745, #_idContainer10821, #_idContainer10837, #_idContainer10865, #_idContainer10881, #_idContainer10906, #_idContainer10931 {
	-webkit-transform:translate(637.000px,81.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(637.000px,81.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer10635, #_idContainer10704, #_idContainer10750, #_idContainer10826, #_idContainer10842, #_idContainer10870, #_idContainer10886, #_idContainer10911, #_idContainer10936 {
	-webkit-transform:translate(77.000px,693.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,693.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer10636, #_idContainer10827 {
	-webkit-transform:translate(315.500px,252.374px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,252.374px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer10637 {
	-webkit-transform:translate(154.701px,417.374px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:109.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(154.701px,417.374px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:458.60px;
}
#_idContainer10638, #_idContainer10676, #_idContainer10707, #_idContainer10717, #_idContainer10753, #_idContainer10776, #_idContainer10800, #_idContainer10829, #_idContainer10845, #_idContainer10873, #_idContainer10889, #_idContainer10914, #_idContainer10939 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10639, #_idContainer10708, #_idContainer10754, #_idContainer10830, #_idContainer10846, #_idContainer10874, #_idContainer10890, #_idContainer10915, #_idContainer10940 {
	-webkit-transform:translate(630.000px,46.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(630.000px,46.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10641, #_idContainer10720, #_idContainer10804, #_idContainer10848, #_idContainer10892, #_idContainer10917, #_idContainer10942 {
	-webkit-transform:translate(0.000px,146.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:783.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,146.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer10646 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:758.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer10647, #_idContainer10948 {
	-webkit-transform:translate(280.145px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(280.145px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:280.15px;
}
#_idContainer10648, #_idContainer10949 {
	-webkit-transform:translate(411.677px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(411.677px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:122.99px;
}
#_idContainer10649, #_idContainer10950 {
	-webkit-transform:translate(0.000px,2.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:411.68px;
}
#_idContainer10650, #_idContainer10951 {
	-webkit-transform:translate(407.929px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(407.929px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer10651 {
	-webkit-transform:translate(0.000px,415.929px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,415.929px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:415.93px;
}
#_idContainer10652 {
	-webkit-transform:translate(5.500px,424.504px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.500px,424.504px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:122.99px;
}
#_idContainer10653 {
	-webkit-transform:translate(0.000px,563.500px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,563.500px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer10654 {
	-webkit-transform:translate(676.934px,872.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:563.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(676.934px,872.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer10655 {
	-webkit-transform:translate(530.500px,671.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(530.500px,671.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10656, #_idContainer10658, #_idContainer10672, #_idContainer10674 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:282.54px;
}
#_idContainer10657, #_idContainer10673 {
	-webkit-transform:translate(6.000px,8.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.000px,8.291px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:260.00px;
}
#_idContainer10659 {
	-webkit-transform:translate(209.000px,527.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(209.000px,527.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:282.54px;
}
#_idContainer10660, #_idContainer10679 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:608.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:767.00px;
}
#_idContainer10661 {
	-webkit-transform:translate(172.353px,128.494px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5228.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:304.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(172.353px,128.494px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:354.81px;
}
#_idContainer10666, #_idContainer10762, #_idContainer10786 {
	-webkit-transform:translate(76.500px,473.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(76.500px,473.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer10671 {
	-webkit-transform:translate(636.500px,85.248px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(636.500px,85.248px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer10675 {
	-webkit-transform:translate(0.000px,476.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,476.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:282.54px;
}
#_idContainer10677 {
	-webkit-transform:translate(420.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(420.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10678 {
	-webkit-transform:translate(209.000px,51.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:557.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(209.000px,51.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:481.50px;
}
#_idContainer10680 {
	-webkit-transform:translate(0.500px,133.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:608.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,133.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:767.00px;
}
#_idContainer10685 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5239.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:758.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer10686 {
	-webkit-transform:translate(594.250px,842.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,842.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10687, #_idContainer10922 {
	-webkit-transform:translate(594.250px,309.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,309.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10688 {
	-webkit-transform:translate(77.000px,655.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5240.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:248.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,655.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer10690 {
	-webkit-transform:translate(109.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(109.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10691 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:81.00px;
}
#_idContainer10692 {
	-webkit-transform:translate(0.000px,675.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,675.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:81.00px;
}
#_idContainer10693 {
	-webkit-transform:translate(449.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:756.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(449.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:241.50px;
}
#_idContainer10705 {
	-webkit-transform:translate(315.500px,267.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,267.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer10706 {
	-webkit-transform:translate(204.350px,432.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(204.350px,432.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:360.30px;
}
#_idContainer10711 {
	-webkit-transform:translate(110.624px,189.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5250.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:506.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(110.624px,189.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:547.75px;
}
#_idContainer10718 {
	-webkit-transform:translate(630.000px,46.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(630.000px,46.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10725 {
	-webkit-transform:translate(353.500px,292.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(353.500px,292.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10726 {
	-webkit-transform:translate(594.250px,579.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,579.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10727 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:110.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer10728 {
	-webkit-transform:translate(77.000px,416.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:488.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,416.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer10729, #_idContainer10731, #_idContainer10732, #_idContainer10768, #_idContainer10770, #_idContainer10771, #_idContainer10792, #_idContainer10794, #_idContainer10795 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:282.54px;
}
#_idContainer10730, #_idContainer10769, #_idContainer10793 {
	-webkit-transform:translate(6.000px,10.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:62.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.000px,10.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:260.00px;
}
#_idContainer10733, #_idContainer10735, #_idContainer10772, #_idContainer10774, #_idContainer10796, #_idContainer10798 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:281.83px;
}
#_idContainer10734, #_idContainer10773, #_idContainer10797 {
	-webkit-transform:translate(16.543px,10.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:62.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(16.543px,10.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:258.25px;
}
#_idContainer10736, #_idContainer10775, #_idContainer10799 {
	-webkit-transform:translate(332.165px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(332.165px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:281.83px;
}
#_idContainer10738 {
	-webkit-transform:translate(481.500px,135.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(481.500px,135.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10739 {
	-webkit-transform:translate(77.000px,135.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:270.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,135.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer10751, #_idContainer10843 {
	-webkit-transform:translate(315.500px,234.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,234.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer10752 {
	-webkit-transform:translate(154.701px,399.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(154.701px,399.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:477.30px;
}
#_idContainer10756, #_idContainer10780 {
	-webkit-transform:translate(0.000px,95.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:552.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,95.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:767.00px;
}
#_idContainer10757 {
	-webkit-transform:translate(176.094px,183.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5270.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:255.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(176.094px,183.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:414.81px;
}
#_idContainer10767, #_idContainer10791 {
	-webkit-transform:translate(636.500px,149.248px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(636.500px,149.248px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer10777, #_idContainer10801 {
	-webkit-transform:translate(553.000px,114.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(553.000px,114.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10778, #_idContainer10802 {
	-webkit-transform:translate(76.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:176.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(76.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer10779, #_idContainer10803 {
	-webkit-transform:translate(0.500px,135.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:648.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,135.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:767.00px;
}
#_idContainer10781 {
	-webkit-transform:translate(88.688px,183.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5280.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:275.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(88.688px,183.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:592.11px;
}
#_idContainer10809 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:766.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer10810 {
	-webkit-transform:translate(594.250px,512.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,512.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10814 {
	-webkit-transform:translate(0.000px,161.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,161.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10815 {
	-webkit-transform:translate(558.500px,459.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:297.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,459.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10828 {
	-webkit-transform:translate(166.951px,417.374px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:109.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(166.951px,417.374px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:427.30px;
}
#_idContainer10844 {
	-webkit-transform:translate(161.350px,399.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:147.81px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(161.350px,399.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:440.00px;
}
#_idContainer10853 {
	-webkit-transform:translate(594.250px,494.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,494.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10854 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:764.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer10858 {
	-webkit-transform:translate(0.000px,620.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,620.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10859 {
	-webkit-transform:translate(558.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:756.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10871 {
	-webkit-transform:translate(315.500px,251.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,251.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer10872 {
	-webkit-transform:translate(219.475px,416.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(219.475px,416.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:329.05px;
}
#_idContainer10887 {
	-webkit-transform:translate(315.500px,261.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,261.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer10888 {
	-webkit-transform:translate(172.350px,426.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(172.350px,426.187px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:423.30px;
}
#_idContainer10897, #_idContainer10923, #_idContainer10947 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:758.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer10898 {
	-webkit-transform:translate(594.250px,660.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,660.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer10900 {
	-webkit-transform:translate(558.500px,351.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,351.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10912 {
	-webkit-transform:translate(315.500px,247.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,247.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer10913 {
	-webkit-transform:translate(154.701px,412.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(154.701px,412.687px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:458.60px;
}
#_idContainer10925 {
	-webkit-transform:translate(558.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer10937 {
	-webkit-transform:translate(315.500px,203.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,203.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer10938 {
	-webkit-transform:translate(150.403px,368.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/5352.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:226.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(150.403px,368.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:467.19px;
}
#_idContainer10952 {
	-webkit-transform:translate(0.500px,415.929px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,415.929px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:415.93px;
}
#_idContainer10953 {
	-webkit-transform:translate(6.000px,424.504px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.000px,424.504px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:122.99px;
}
#_idContainer10954 {
	-webkit-transform:translate(0.000px,564.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,564.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:9.00px;
}
#_idContainer10955 {
	-webkit-transform:translate(102.000px,876.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:564.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(102.000px,876.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:9.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
