div.c_text_degradado {
	border-style:solid;
}
div.linea_decoracion_linea_autor {
	border-color:#057d9e;
	border-width:3px;
	border-style:dotted;
	border-radius:12px 12px 12px 12px;
}
div.linea_decoracion_linea_azul {
	border-color:#057d9e;
	border-width:3px;
	border-style:solid;
	border-radius:12px 12px 12px 12px;
}
div.linea_decoracion_linea_degradado {
	border-style:solid;
	border-radius:12px 12px 12px 12px;
}
div.linea_decoracion_linea_image {
	border-color:#057d9e;
	border-width:4px;
	border-style:dotted;
	border-radius:12px 12px 12px 12px;
}
div.linea_decoracion_linea_punteada {
	border-color:#0aa6cc;
	border-width:3px;
	border-style:dotted;
	border-radius:12px 12px 12px 12px;
}
div.linea_tiempo_btn_lt_off {
	border-color:#089eb8;
	border-width:6px;
	border-style:solid;
	background-color:#ffffff;
}
div.linea_tiempo_btn_lt_on {
	border-color:#f0a159;
	border-width:7px;
	border-style:solid;
	background-color:#ffffff;
}
div.linea_tiempo_indicador_linea_tiempo {
	border-color:#f0a159;
	border-width:5px;
	border-style:solid;
	border-radius:12px 12px 12px 12px;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#057d9e;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#0a5769;
	font-family:Arial, sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#054052;
	font-family:Arial, sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#376674;
	font-family:Arial, sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-6 {
	color:#66616b;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#66616b;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#66616b;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#2b90ad;
	font-family:Arial, sans-serif;
	font-size:460px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-10 {
	color:#7d7981;
	font-family:Arial, sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-11 {
	color:#2b90ad;
	font-family:Arial, sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:bold;
}
#_idContainer9360 {
	-webkit-transform:translate(458.794px,745.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.64px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(458.794px,745.355px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:232.21px;
}
#_idContainer9361, #_idContainer9371, #_idContainer9396, #_idContainer9440, #_idContainer9535, #_idContainer9568, #_idContainer9593, #_idContainer9645, #_idContainer9720, #_idContainer9826, #_idContainer9851 {
	-webkit-transform:translate(58.000px,105.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:826.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.000px,105.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:662.00px;
}
#_idContainer9362, #_idContainer9372, #_idContainer9397, #_idContainer9441, #_idContainer9536, #_idContainer9569, #_idContainer9594, #_idContainer9646, #_idContainer9721, #_idContainer9827, #_idContainer9852 {
	-webkit-transform:translate(647.225px,961.821px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:45.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(647.225px,961.821px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:43.77px;
}
#_idContainer9363, #_idContainer9373, #_idContainer9398, #_idContainer9442, #_idContainer9537, #_idContainer9570, #_idContainer9595, #_idContainer9647, #_idContainer9722, #_idContainer9828, #_idContainer9853 {
	-webkit-transform:translate(703.000px,975.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:49.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(703.000px,975.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:5.00px;
}
#_idContainer9364, #_idContainer9374, #_idContainer9399, #_idContainer9443, #_idContainer9538, #_idContainer9571, #_idContainer9596, #_idContainer9648, #_idContainer9723, #_idContainer9829, #_idContainer9854 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:769.00px;
}
#_idContainer9365 {
	-webkit-transform:translate(77.000px,131.848px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:138.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,131.848px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9366 {
	-webkit-transform:translate(347.000px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(347.000px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:347.00px;
}
#_idContainer9367 {
	-webkit-transform:translate(424.000px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(424.000px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:71.29px;
}
#_idContainer9368 {
	-webkit-transform:translate(345.999px,167.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(345.999px,167.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:424.00px;
}
#_idContainer9369 {
	-webkit-transform:translate(698.417px,228.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:5.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(698.417px,228.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:94.50px;
}
#_idContainer9370 {
	-webkit-transform:translate(77.000px,280.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:630.49px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,280.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9375 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4639.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:758.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9376 {
	-webkit-transform:translate(594.250px,768.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,768.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9377, #_idContainer9402, #_idContainer9403, #_idContainer9404, #_idContainer9549, #_idContainer9574, #_idContainer9607, #_idContainer9608, #_idContainer9652, #_idContainer9728, #_idContainer9832 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9378 {
	-webkit-transform:translate(558.500px,459.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,459.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9379, #_idContainer9394, #_idContainer9576, #_idContainer9591, #_idContainer9834, #_idContainer9849 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:756.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer9380, #_idContainer9385, #_idContainer9408, #_idContainer9413, #_idContainer9424, #_idContainer9429, #_idContainer9552, #_idContainer9557, #_idContainer9577, #_idContainer9584, #_idContainer9613, #_idContainer9618, #_idContainer9629, #_idContainer9634, #_idContainer9663, #_idContainer9672, #_idContainer9677, #_idContainer9688, #_idContainer9693, #_idContainer9704, #_idContainer9709, #_idContainer9738, #_idContainer9743, #_idContainer9754, #_idContainer9759, #_idContainer9770, #_idContainer9775, #_idContainer9787, #_idContainer9800, #_idContainer9814, #_idContainer9835, #_idContainer9840 {
	-webkit-transform:translate(369.216px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(369.216px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:369.22px;
}
#_idContainer9381, #_idContainer9386, #_idContainer9409, #_idContainer9414, #_idContainer9425, #_idContainer9430, #_idContainer9553, #_idContainer9558, #_idContainer9578, #_idContainer9585, #_idContainer9614, #_idContainer9619, #_idContainer9630, #_idContainer9635, #_idContainer9664, #_idContainer9673, #_idContainer9678, #_idContainer9689, #_idContainer9694, #_idContainer9705, #_idContainer9710, #_idContainer9739, #_idContainer9744, #_idContainer9755, #_idContainer9760, #_idContainer9771, #_idContainer9776, #_idContainer9788, #_idContainer9801, #_idContainer9815, #_idContainer9836, #_idContainer9841 {
	-webkit-transform:translate(500.748px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(500.748px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:122.99px;
}
#_idContainer9382, #_idContainer9387, #_idContainer9410, #_idContainer9415, #_idContainer9426, #_idContainer9431, #_idContainer9554, #_idContainer9559, #_idContainer9579, #_idContainer9586, #_idContainer9615, #_idContainer9620, #_idContainer9631, #_idContainer9636, #_idContainer9665, #_idContainer9674, #_idContainer9679, #_idContainer9690, #_idContainer9695, #_idContainer9706, #_idContainer9711, #_idContainer9740, #_idContainer9745, #_idContainer9756, #_idContainer9761, #_idContainer9772, #_idContainer9777, #_idContainer9789, #_idContainer9802, #_idContainer9816, #_idContainer9837, #_idContainer9842 {
	-webkit-transform:translate(0.000px,2.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:500.75px;
}
#_idContainer9383, #_idContainer9388, #_idContainer9411, #_idContainer9416, #_idContainer9427, #_idContainer9432, #_idContainer9555, #_idContainer9560, #_idContainer9580, #_idContainer9587, #_idContainer9616, #_idContainer9621, #_idContainer9632, #_idContainer9637, #_idContainer9666, #_idContainer9675, #_idContainer9680, #_idContainer9691, #_idContainer9696, #_idContainer9707, #_idContainer9712, #_idContainer9741, #_idContainer9746, #_idContainer9757, #_idContainer9762, #_idContainer9773, #_idContainer9778, #_idContainer9790, #_idContainer9803, #_idContainer9817, #_idContainer9838, #_idContainer9843 {
	-webkit-transform:translate(497.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(497.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer9384, #_idContainer9412, #_idContainer9428, #_idContainer9556, #_idContainer9617, #_idContainer9633, #_idContainer9667, #_idContainer9676, #_idContainer9692, #_idContainer9708, #_idContainer9742, #_idContainer9758, #_idContainer9774, #_idContainer9839 {
	-webkit-transform:translate(637.000px,81.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(637.000px,81.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer9389, #_idContainer9417, #_idContainer9433, #_idContainer9561, #_idContainer9622, #_idContainer9638, #_idContainer9681, #_idContainer9697, #_idContainer9713, #_idContainer9747, #_idContainer9763, #_idContainer9779, #_idContainer9844 {
	-webkit-transform:translate(77.000px,693.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,693.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer9390, #_idContainer9418, #_idContainer9562 {
	-webkit-transform:translate(315.500px,237.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,237.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9391 {
	-webkit-transform:translate(171.778px,402.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(171.778px,402.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:424.44px;
}
#_idContainer9392, #_idContainer9420, #_idContainer9436, #_idContainer9457, #_idContainer9473, #_idContainer9475, #_idContainer9493, #_idContainer9495, #_idContainer9511, #_idContainer9513, #_idContainer9529, #_idContainer9564, #_idContainer9589, #_idContainer9625, #_idContainer9641, #_idContainer9668, #_idContainer9684, #_idContainer9700, #_idContainer9716, #_idContainer9750, #_idContainer9766, #_idContainer9782, #_idContainer9792, #_idContainer9795, #_idContainer9805, #_idContainer9807, #_idContainer9809, #_idContainer9819, #_idContainer9821, #_idContainer9847 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9393, #_idContainer9421, #_idContainer9437, #_idContainer9565, #_idContainer9626, #_idContainer9642, #_idContainer9685, #_idContainer9701, #_idContainer9717, #_idContainer9751, #_idContainer9767, #_idContainer9783, #_idContainer9848 {
	-webkit-transform:translate(630.000px,46.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(630.000px,46.751px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9395, #_idContainer9592, #_idContainer9850 {
	-webkit-transform:translate(0.000px,146.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:756.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,146.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer9400 {
	-webkit-transform:translate(594.250px,589.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,589.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9401 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:802.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9405 {
	-webkit-transform:translate(0.000px,377.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,377.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9406 {
	-webkit-transform:translate(558.500px,216.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:513.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,216.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9407, #_idContainer9422, #_idContainer9423, #_idContainer9438, #_idContainer9551, #_idContainer9566, #_idContainer9612, #_idContainer9627, #_idContainer9628, #_idContainer9643, #_idContainer9661, #_idContainer9670, #_idContainer9671, #_idContainer9686, #_idContainer9687, #_idContainer9702, #_idContainer9703, #_idContainer9718, #_idContainer9737, #_idContainer9752, #_idContainer9753, #_idContainer9768, #_idContainer9769, #_idContainer9784, #_idContainer9785, #_idContainer9797, #_idContainer9798, #_idContainer9811, #_idContainer9812, #_idContainer9824 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:783.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer9419 {
	-webkit-transform:translate(196.944px,402.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(196.944px,402.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:374.11px;
}
#_idContainer9434 {
	-webkit-transform:translate(315.500px,205.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,205.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9435 {
	-webkit-transform:translate(154.193px,370.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4667.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:145.75px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(154.193px,370.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:459.61px;
}
#_idContainer9439, #_idContainer9567, #_idContainer9644, #_idContainer9719, #_idContainer9825 {
	-webkit-transform:translate(0.000px,146.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:783.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,146.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer9444 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:758.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9445 {
	-webkit-transform:translate(353.500px,795.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(353.500px,795.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9446, #_idContainer9461, #_idContainer9479, #_idContainer9499, #_idContainer9517 {
	-webkit-transform:translate(77.000px,35.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,35.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:454.00px;
}
#_idContainer9447, #_idContainer9462, #_idContainer9480, #_idContainer9500, #_idContainer9518 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4673.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:258.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:500.00px;
}
#_idContainer9448, #_idContainer9463, #_idContainer9481, #_idContainer9501, #_idContainer9519 {
	-webkit-transform:translate(359.208px,273.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(359.208px,273.332px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.29px;
}
#_idContainer9449, #_idContainer9464, #_idContainer9482, #_idContainer9502, #_idContainer9520 {
	-webkit-transform:translate(58.291px,146.667px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:276.33px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(58.291px,146.667px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:500.00px;
}
#_idContainer9450, #_idContainer9465, #_idContainer9483, #_idContainer9503, #_idContainer9521 {
	-webkit-transform:translate(315.371px,86.070px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:17.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.371px,86.070px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:43.27px;
}
#_idContainer9451, #_idContainer9468, #_idContainer9492, #_idContainer9510, #_idContainer9526 {
	-webkit-transform:translate(269.250px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/501.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:74.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(269.250px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:74.50px;
}
#_idContainer9452, #_idContainer9454, #_idContainer9469, #_idContainer9471, #_idContainer9484, #_idContainer9488, #_idContainer9490, #_idContainer9504, #_idContainer9508, #_idContainer9522 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1312.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:58.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:58.67px;
}
#_idContainer9453, #_idContainer9470, #_idContainer9489, #_idContainer9509 {
	-webkit-transform:translate(373.507px,7.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(373.507px,7.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:58.67px;
}
#_idContainer9455, #_idContainer9472, #_idContainer9491 {
	-webkit-transform:translate(462.177px,7.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(462.177px,7.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:58.67px;
}
#_idContainer9456, #_idContainer9474, #_idContainer9530 {
	-webkit-transform:translate(0.000px,6.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,6.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9458, #_idContainer9476, #_idContainer9531 {
	-webkit-transform:translate(553.000px,6.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(553.000px,6.749px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9459, #_idContainer9477, #_idContainer9532 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:129.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9460, #_idContainer9478, #_idContainer9533 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:423.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9466, #_idContainer9486, #_idContainer9506, #_idContainer9524 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/489.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:58.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:58.67px;
}
#_idContainer9467, #_idContainer9487, #_idContainer9507, #_idContainer9525 {
	-webkit-transform:translate(180.580px,7.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(180.580px,7.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:58.67px;
}
#_idContainer9485, #_idContainer9505, #_idContainer9523 {
	-webkit-transform:translate(91.911px,7.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:58.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(91.911px,7.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:58.67px;
}
#_idContainer9494, #_idContainer9512 {
	-webkit-transform:translate(0.000px,6.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,6.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9496, #_idContainer9514 {
	-webkit-transform:translate(553.000px,6.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(553.000px,6.750px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9497, #_idContainer9515 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9498, #_idContainer9516 {
	-webkit-transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:423.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9527 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/578.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:54.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:97.50px;
}
#_idContainer9528 {
	-webkit-transform:translate(397.000px,10.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:54.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(397.000px,10.249px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:97.50px;
}
#_idContainer9534 {
	-webkit-transform:translate(77.500px,336.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:423.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.500px,336.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9539 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9540 {
	-webkit-transform:translate(594.250px,410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9541 {
	-webkit-transform:translate(149.999px,254.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4716.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:658.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(149.999px,254.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:380.50px;
}
#_idContainer9542 {
	-webkit-transform:translate(77.000px,245.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,245.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:55.00px;
}
#_idContainer9543 {
	-webkit-transform:translate(77.000px,485.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,485.779px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:55.00px;
}
#_idContainer9544 {
	-webkit-transform:translate(77.000px,569.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,569.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:55.00px;
}
#_idContainer9545 {
	-webkit-transform:translate(77.000px,675.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,675.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:55.00px;
}
#_idContainer9546 {
	-webkit-transform:translate(77.000px,734.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,734.330px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:55.00px;
}
#_idContainer9547 {
	-webkit-transform:translate(77.000px,811.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,811.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:55.00px;
}
#_idContainer9548 {
	-webkit-transform:translate(209.749px,182.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(209.749px,182.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:261.00px;
}
#_idContainer9550 {
	-webkit-transform:translate(558.500px,98.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,98.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9563 {
	-webkit-transform:translate(159.944px,402.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(159.944px,402.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:448.11px;
}
#_idContainer9572, #_idContainer9649 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:758.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9573, #_idContainer9831 {
	-webkit-transform:translate(594.250px,309.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,309.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9575, #_idContainer9833 {
	-webkit-transform:translate(558.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9581 {
	-webkit-transform:translate(77.000px,747.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,747.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer9582 {
	-webkit-transform:translate(315.500px,105.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,105.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9583 {
	-webkit-transform:translate(125.000px,270.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4733.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:414.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(125.000px,270.236px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:518.00px;
}
#_idContainer9588 {
	-webkit-transform:translate(637.000px,34.248px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(637.000px,34.248px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer9590 {
	-webkit-transform:translate(630.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(630.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9597, #_idContainer9856 {
	-webkit-transform:translate(280.145px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(280.145px,2.500px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:280.15px;
}
#_idContainer9598, #_idContainer9857 {
	-webkit-transform:translate(411.677px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(411.677px,3.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:122.99px;
}
#_idContainer9599, #_idContainer9858 {
	-webkit-transform:translate(0.000px,2.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,2.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:411.68px;
}
#_idContainer9600, #_idContainer9859 {
	-webkit-transform:translate(407.929px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(407.929px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer9601 {
	-webkit-transform:translate(0.000px,415.929px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,415.929px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:415.93px;
}
#_idContainer9602 {
	-webkit-transform:translate(5.500px,424.504px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(5.500px,424.504px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:122.99px;
}
#_idContainer9603 {
	-webkit-transform:translate(0.000px,563.500px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,563.500px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer9604 {
	-webkit-transform:translate(665.395px,872.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:563.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(665.395px,872.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer9605 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:758.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:467.50px;
}
#_idContainer9606 {
	-webkit-transform:translate(594.250px,304.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,304.791px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9609, #_idContainer9654, #_idContainer9656, #_idContainer9730, #_idContainer9732 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9610 {
	-webkit-transform:translate(0.000px,243.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,243.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9611 {
	-webkit-transform:translate(558.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:378.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(558.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9623, #_idContainer9682 {
	-webkit-transform:translate(315.500px,252.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,252.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9624 {
	-webkit-transform:translate(111.937px,417.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(111.937px,417.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:544.13px;
}
#_idContainer9639, #_idContainer9764 {
	-webkit-transform:translate(315.500px,229.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,229.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9640, #_idContainer9765 {
	-webkit-transform:translate(167.875px,394.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:129.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(167.875px,394.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:432.25px;
}
#_idContainer9650 {
	-webkit-transform:translate(77.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4766.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:201.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,702.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9651, #_idContainer9725 {
	-webkit-transform:translate(594.250px,828.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(594.250px,828.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9653, #_idContainer9729 {
	-webkit-transform:translate(109.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(109.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9655 {
	-webkit-transform:translate(109.000px,161.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(109.000px,161.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9657 {
	-webkit-transform:translate(109.000px,432.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(109.000px,432.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9658, #_idContainer9734 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:81.00px;
}
#_idContainer9659, #_idContainer9735 {
	-webkit-transform:translate(0.000px,675.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:81.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,675.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:81.00px;
}
#_idContainer9660, #_idContainer9736 {
	-webkit-transform:translate(449.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:756.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(449.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:241.50px;
}
#_idContainer9662 {
	-webkit-transform:translate(110.624px,189.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4768.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:432.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(110.624px,189.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:547.75px;
}
#_idContainer9669 {
	-webkit-transform:translate(630.000px,46.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(630.000px,46.752px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9683 {
	-webkit-transform:translate(185.968px,417.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(185.968px,417.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:396.06px;
}
#_idContainer9698 {
	-webkit-transform:translate(315.500px,202.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,202.311px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9699 {
	-webkit-transform:translate(184.906px,371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:239.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(184.906px,371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:398.19px;
}
#_idContainer9714 {
	-webkit-transform:translate(315.500px,188.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,188.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9715 {
	-webkit-transform:translate(146.312px,353.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:172.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(146.312px,353.490px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:483.69px;
}
#_idContainer9724 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:299.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9726 {
	-webkit-transform:translate(77.000px,470.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:434.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,470.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9727 {
	-webkit-transform:translate(77.000px,594.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4801.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:309.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,594.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9731 {
	-webkit-transform:translate(109.000px,135.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(109.000px,135.208px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9733 {
	-webkit-transform:translate(109.000px,331.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(109.000px,331.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.50px;
}
#_idContainer9748 {
	-webkit-transform:translate(315.500px,243.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,243.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9749 {
	-webkit-transform:translate(166.648px,408.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(166.648px,408.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:432.56px;
}
#_idContainer9780 {
	-webkit-transform:translate(315.500px,200.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,200.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9781 {
	-webkit-transform:translate(92.500px,365.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:199.69px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(92.500px,365.338px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:583.00px;
}
#_idContainer9786, #_idContainer9799, #_idContainer9813 {
	-webkit-transform:translate(76.999px,132.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4827.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:594.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(76.999px,132.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:614.00px;
}
#_idContainer9791, #_idContainer9804, #_idContainer9818 {
	-webkit-transform:translate(637.000px,67.248px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(637.000px,67.248px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:505.00px;
}
#_idContainer9793, #_idContainer9806, #_idContainer9820 {
	-webkit-transform:translate(630.000px,33.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(630.000px,33.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9794, #_idContainer9808, #_idContainer9822 {
	-webkit-transform:translate(309.000px,612.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(309.000px,612.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9796, #_idContainer9810, #_idContainer9823 {
	-webkit-transform:translate(398.000px,612.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:61.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(398.000px,612.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.00px;
}
#_idContainer9830 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4844.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:758.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9845 {
	-webkit-transform:translate(315.500px,250.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(315.500px,250.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:137.00px;
}
#_idContainer9846 {
	-webkit-transform:translate(200.300px,419.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:74.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(200.300px,419.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:358.20px;
}
#_idContainer9855 {
	-webkit-transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/4856.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:623.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,146.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:453.50px;
}
#_idContainer9860 {
	-webkit-transform:translate(0.500px,415.929px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,415.929px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:415.93px;
}
#_idContainer9861 {
	-webkit-transform:translate(6.000px,424.504px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.000px,424.504px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:122.99px;
}
#_idContainer9862 {
	-webkit-transform:translate(0.000px,564.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:9.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,564.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:9.00px;
}
#_idContainer9863 {
	-webkit-transform:translate(102.000px,876.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:564.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(102.000px,876.000px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:9.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
